.container{
    font-family: 'Lobster', cursive;
    background-image: -webkit-linear-gradient(white, rgb(241, 223, 226), white);
}
.header-actor-page{
    margin-top: 10px;
}
.filter-container .col-md-8{
    padding-right: 10px;
}

.filter-container.col-12{
    padding-bottom: 10px;
}
